.buttonhome {
<<<<<<< HEAD
  margin-top: 20%;
  margin-right: 15%;
=======
  /*margin-top: 25%;*/
  margin-right: 15%;
  background-color: #FA8846;
  border-color: #DE5B49;

}

.img-conducteur {
  margin-top: 2%;
}

.imgprofilnav {
  margin-top: -30%;
>>>>>>> 1d3571d31970f371be52d37316414eacb9d60124
}
