

#menu {
  position: fixed;
  border-radius: 2px;
  right: 0;
  top: 50%;
  width: 8em;
  margin-top: -2.5em;
  background-color: pink;
  -webkit-border-top-left-radius: 80px;
-webkit-border-bottom-left-radius: 80px;
-moz-border-radius-topleft: 80px;
-moz-border-radius-bottomleft: 80px;
border-top-left-radius: 80px;
border-bottom-left-radius: 80px;
}


.resum-search{
margin-top: 8%;
}
.result-trajet p{
  margin-right: 30%;
  text-align: right;
  clear: both;
}

p span{
  float: left;

}

.coco{
width: 30px;
height: 30px;
}

.payme-btn{
  margin-top: 5%;
  height: 10%;
  width: 10%;
}

.resum-search{
margin-top: 8%;
margin-bottom: 5%;
/*background-color: #DE5B49;*/

}

#result-name{
  padding-top: 3%;
}
#result-trajet{
  margin-bottom: 5%;
  padding-top: 3%;
}
.result-trajet{
  width: 30%;
}

.result-option{
  /*background-color: #FA8846;*/
}
 .result-payme{
   /*background-color: #46B29D;*/
  /*background-color: #FA8846;*/
}
 .result-payme{
   /*background-color: #46B29D;*/
 }

#logo-trajet{
  width: 20%;
}


 html, body, h1, form, fieldset, legend, ol, li {
   margin: 0;
   padding: 0;
 }


 form#paiement {
  /*background: #9cbc2c;*/
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 20px;
  padding-left: 30%;

  width: 60%;
}

form#paiement fieldset {
  border: none;
  margin-bottom: 10px;
}
form#paiement fieldset:last-of-type {
  margin-bottom: 0;
}

form#paiement legend {
  color: #384313;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 10px;
  text-shadow: 0 1px 1px #c0d576;
}

form#paiement > fieldset > legend:before {
  content: "Étape " counter(fieldsets) " : ";
  counter-increment: fieldsets;
}

form#paiement fieldset fieldset legend {
  color: #111111;
  font-size: 13px;
  font-weight: normal;
  padding-bottom: 0;
}

form#paiement ol li {
  background: #b9cf6a;
  background: rgba(255,255,255,.3);
  border-color: #e3ebc3;
  border-color: rgba(255,255,255,.6);
  border-style: solid;
  border-width: 2px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  line-height: 30px;
  list-style: none;
  padding: 5px 10px;
  margin-bottom: 2px;
}
form#paiement ol ol li {
  background: none;
  border: none;
  float: left;
}
form#paiement label {
  float: left;
  font-size: 13px;
  width: 110px;
}
form#paiement fieldset fieldset label {
  background:none no-repeat left 50%;
  line-height: 20px;
  padding: 0 0 0 30px;
  width: auto;
}
form#paiement label[for=visa] {
  background-image: url(visa.gif);
}
form#paiement label[for=amex] {
  background-image: url(amex.gif);
}
form#paiement label[for=mastercard] {
  background-image: url(mastercard.gif);
}
form#paiement fieldset fieldset label:hover {
  cursor: pointer;
}

form#paiement input:not([type=radio]),
form#paiement textarea {
  background: #ffffff;
  border: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  font: italic 13px Georgia, "Times New Roman", Times, serif;
  outline: none;
  padding: 5px;
  width: 200px;
}
form#paiement input:not([type=submit]):focus,
form#paiement textarea:focus {
  background: #eaeaea;
}
form#paiement input[type=radio] {
  float: left;
  margin-right: 5px;
}

form#paiement button {
  background: #384313;
  border: none;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
  color: #ffffff;
  display: block;
  font: 18px Georgia, "Times New Roman", Times, serif;
  letter-spacing: 1px;
  margin: auto;
  padding: 7px 25px;
  text-shadow: 0 1px 1px #000000;
  text-transform: uppercase;
}
form#paiement button:hover {
  background: #1e2506;
  cursor: pointer;
}
