.resum-search{
margin-top: 8%;
background-color: #DE5B49;

}

#result-name{
  padding-top: 3%;
}
#result-trajet{
  width: 20%;
}

.result-option{
  background-color: FA8846;
}
 .result-payme{
   background-color: 46B29D;
 }
