<!-- modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">

    <div class="row">
      <div class="col-md-8 col-md-offset-1">
        <div class="panel panel-login">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-6">
                <a href="#" class="active" id="login-form-link">Se connecter</a>
              </div>
              <div class="col-xs-6">
                <a href="#register-form" id="register-form-link">S'inscrire</a>
              </div>
            </div>
            <hr>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-12">
                <form id="login-form" action="profil.html" method="post" role="form" style="display: block;">
                  <div class="form-group">
                    <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Nom d'utilisateur" value="">
                  </div>

                  <div class="form-group">
                    <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Mot de passe">
                  </div>
                  <div class="form-group text-center">
                    <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
                    <label for="remember">
                      Se souvenir de moi</label>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-6 col-sm-offset-3">
                        <a role="button" class="form-control btn btn-login" href="indexonlog.html">Connexion</a>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="text-center">
                          <a href="http://phpoll.com/recover" tabindex="5" class="forgot-password">Mot de passe oublié?</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>

                <form id="register-form" action="profil.html" method="post" role="form" style="display: none;">

                  <div class="form-group">
                    <input type="text" name="name" id="name" tabindex="1" class="form-control" placeholder="Prénom" value="">
                  </div>

                  <div class="form-group">
                    <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Nom d'utilisateur" value="">
                  </div>

                  <div class="form-group">
                    <input type="text" name="ville" id="ville" tabindex="1" class="form-control" placeholder="Ville" value="">
                  </div>

                  <div class="form-group">
                    <input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email" value="">
                  </div>

                  <div class="form-group">
                    <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Mot de passe">
                  </div>
                  <div class="form-group">
                    <input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirmation mot de passe">
                  </div>

                  <div class="form-group text-center">
                    <select name="sexe" class="form-control">
                      <option value="femme">Féminin</option>
                      <option value="homme">Masculin</option>
                    </select>

                  </div>

                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-6 col-sm-offset-3">
                        <a role="button" class="form-control btn btn-login" href="profil.html">S'inscrire</a>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Navigation -->
<div id="header-wrap">
  <div id="header" class="clear">
    <nav id="container" class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
      <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand topnav" href="#"><img class="logo_hot img-responsive" src="" alt="Brand img"/></a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <button type="button" class="btn btn-lg" data-toggle="modal" data-target="#myModal">
                Connexion</button>
              <!-- Modal -->

            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
    </nav>

  </div>
</div>

<!-- PAGE CONTENT  -->

<div class="intro-header">
  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <!-- <h1>Car2shop</h1> -->
          <h3>Rejoignez vos magasins gratuitement !</h3>

          <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal">Inscrivez-vous !</button>

          <hr class="intro-divider">

          <h2 class="text-center">Recherche</h2>
          <form id="navaccueil" class="navbar-form navbar-center" action="offres.html">

            <div class="form-group">

              <input id="ctadepart" type="text" class="form-control" placeholder="Lieu de départ ?">

              <input id="ctadate" type="text" class="form-control" placeholder="Date ?">

              <input id="ctatypeauto" type="text" class="form-control" placeholder="Choix du magasin">

              <a id="ctasearch" role="button" class="btn btn-success btn-search" href="recherche.html">Rechercher</a>
            </div>
          </form>

        </div>

      </div>
    </div>

  </div>
  <!-- /.container -->
</div>
<!-- /.intro-header -->

<hr>
<!-- <div class="container">

<div class="row">
  <div class="col-md-6 col-md-offset-5">
    <h3 class="text-center">
       <p>Dernières annonces publiées</p>
     </h3>
  </div>
</div>
</div> -->
<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/pYf5deeiPf4" width="800" height="800"></iframe>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>

<div class="container">

  <div class="row text-center">
    <h3>Dernières propositions :</h3>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-3 exemples">
      <img src="img/Logos-Enseignes/Alimentaire/Auchan.png" alt="Logo" class="enseignesauchan img-responsive enseignes"/>
      <p class="text-center">Villeneuve-D'Ascq</p>
      <p><img src="img/n3xt.png" class="img-circle img-conducteur" alt="conducteur" width="50" height="50">
        Nom conducteur</p>
      <p>Départ : Roubaix</p>
      <p>23 Avril 2016</p>
      <p>Départ: 10h00</p>
      <p>Retour: 11h40</p>
      <p>Places restantes : 4</p>
      <p>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
            <span class="sr-only">20% Complete</span>
          </div>
        </div>
        <a href="" class="text-center reservation">Réserver !</a>
      </p>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-3 exemples">
      <img src="img/Logos-Enseignes/Bricolage-Jardinage/Conforama.png" alt="Logo" class="enseignesauchan img-responsive enseignes"/>
      <p class="text-center">Faches-Thumesnil</p>
      <p><img src="img/user1.png" class="img-circle img-conducteur" alt="conducteur" width="50" height="50">
        Nom conducteur</p>
      <p>Départ : Roubaix</p>
      <p>23 Avril 2016</p>
      <p>Départ: 10h00</p>
      <p>Retour: 11h40</p>
      <p>Places restantes : 3</p>
      <p>
        <div class="progress">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
            <span class="sr-only">20% Complete</span>
          </div>
        </div>
        <a href="" class="text-center reservation">Réserver !</a>
      </p>
    </div>
    <div class="col-md-2"></div>

  </div>

  <div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-3 exemples">
      <img src="img/Logos-Enseignes/Sport/Décathlon.png" alt="Logo" class="enseignesauchan img-responsive enseignes"/>
      <p class="text-center">Englos</p>
      <p><img src="img/user2.png" class="img-circle img-conducteur" alt="conducteur" width="50" height="50">
        Nom conducteur</p>
      <p>Départ : Roubaix</p>
      <p>23 Avril 2016</p>
      <p>Départ: 10h00</p>
      <p>Retour: 11h40</p>
      <p>Places restantes : 2</p>
      <p>
        <div class="progress">
          <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
            <span class="sr-only">20% Complete</span>
          </div>
        </div>
        <a href="" class="text-center reservation">Réserver !</a>
      </p>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-3 exemples">
      <img src="img/Logos-Enseignes/Electro-Ménager/Darty.png" alt="Logo" class="enseignesdarty img-responsive enseignes"/>
      <p class="text-center">Lomme</p>
      <p><img src="img/n3xt.png" class="img-circle img-conducteur" alt="conducteur" width="50" height="50">
        Nom conducteur</p>
      <p>Départ : Lille</p>
      <p>23 Avril 2016</p>
      <p>Départ: 10h15</p>
      <p>Retour: 11h30</p>
      <p>Places restantes : 1</p>
      <p>
        <div class="progress">
          <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
            <span class="sr-only">20% Complete</span>
          </div>
        </div>
        <a href="" class="text-center reservation">Réserver !</a>
      </p>
    </div>

  </div>
  <div class="col-md-2"></div>

</div>

<hr>

<div class="container">
  <div class="row">
    <h3 class="text-center">
      Derniers avis laissé :
    </h3>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">

      <p><img src="img/n3xt.png" class="img-circle img-conducteur" alt="conducteur" width="50" height="50">
        <i class="fa fa-car"></i>
        Nom conducteur</p>
      <p><img src="img/user1.png" class="img-circle img-conducteur" alt="conducteur" width="50" height="50">
        Nom passager</p>
      <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
        irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
        <i class="fa fa-star-o"></i>
      </p>
      <p>
        <a href="">Voir le trajet</a>
      </p>

    </div>

    <div class="col-md-5">

      <p><img src="img/user2.png" class="img-circle img-conducteur" alt="conducteur" width="50" height="50">
        <i class="fa fa-car"></i>
        Nom conducteur</p>
      <p><img src="img/n3xt.png" class="img-circle img-conducteur" alt="conducteur" width="50" height="50">
        Nom passager</p>
      <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
        irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
        <i class="fa fa-star-o"></i>
      </p>
      <p>
        <a href="">Voir le trajet</a>
      </p>

    </div>
    <div class="col-md-1"></div>
  </div>
  <div class="row">
      <div class="jumbotron">
        <h3 class="text-center">Nos partenaires
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
          irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <img src="http://lorempixel.com/100/100" alt="Placeholder">
        <img src="http://lorempixel.com/100/100" alt="Placeholder">
        <img src="http://lorempixel.com/100/100" alt="Placeholder">
      </div>
    </div>
  <!-- <div class="col-md-5">
    <p><img src="img/user1.png" class="img-circle img-conducteur" alt="conducteur" width="50" height="50"><i class="fa fa-car"></i> Nom conducteur</p>
    <p><img src="img/user2.png" class="img-circle img-conducteur" alt="conducteur" width="50" height="50"> Nom passager</p>
    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
      dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." <i class="fa fa-star"></i><i class="fa fa-star"></i>
      <i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
    </p>
    <p><a href="">Voir le trajet</a></p>

  </div> -->
</div>

<!-- /PAGE CONTENT -->

<!-- Footer -->
<footer>

  <div class="container-fluid">

    <div class="row">
      <div class="col-md-2">
        <ul>
          <li>
            <a href="">
              <i class="fa fa-facebook-official fa-4x"></i>
            </a>
          </li>
          <li>
            <a href="">
              <i class="fa fa-twitter-square fa-4x"></i>
            </a>
          </li>
          <li>
            <a href="">
              <i class="fa fa-github-square fa-4x"></i>
            </a>
          </li>
        </ul>

      </div>
      <div class="col-md-3 linksfooter">
        <ul>
          <li>
            <h3>Infos pratiques</h3>
          </li>
          <li>
            <a href="commentcamarche.html">Comment ca marche ?</a>
          </li>
          <li>
            <a href="avis.html">Les avis</a>
          </li>
          <li>
            <a href="niveaux.html">les niveaux</a>
          </li>
          <li>
            <a href="prix.html">Les prix</a>
          </li>
        </ul>
      </div>
      <div class="col-md-2 linksfooter">
        <ul>
          <li>
            <h3>A propos</h3>
          </li>
          <li>
            <a href="quisommesnous.html">Qui sommes-nous ?</a>
          </li>
          <li>
            <a href="contact.html">Contact</a>
          </li>
          <li>
            <a href="ilsparlentdenous.html">Ils parlent de nous !</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3"></div>

      <div class="col-md-2">
        <ul>
          <li>Brand img</li>
        </ul>
      </div>
    </div>

    <p class="navbar-text pull-left">© 2016 - CoShop by Emooveers
      <a href="" target="_blank">HTML 5 Validation</a>
    </p>

    <a href="" class="navbar-btn btn-danger btn pull-right">
      <span class="glyphicon glyphicon-star"></span>
      Subscribe on
    </a>
  </div>

</footer>
