<div class="container propocontainer">
  <div class="row">
    <div class="col-md-4">
      <form>
        <div class="form-group">
          <label for="Inputlieudepart">Lieu de départ</label>
          <input type="text" class="form-control" id="Inputlieudepart" placeholder="Lieu de départ">
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <form>
        <div class="form-group">
          <label for="Inputlieuarrivee">Lieu d'arrivée</label>
          <input type="text" class="form-control" id="Inputlieuarrivee" placeholder="Lieu d'arrivée">
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <form>
        <div class="form-group">
          <label for="heuredepart">Heure de départ</label>
          date_field("bid", "go_at")
         <!-- <input id="user_born_on" name="user[born_on]" type="date" /> -->
        </div>
      </form>
    </div>
  </div>


  <div class="row">
    <div class="col-md-4">
      <form>
        <div class="form-group">
          <label for="heureretour">Heure de retour (De là bas)</label>
          date_field("bid", "come_back")
          <!-- <input type="datetime-local" class="form-control" id="heureretour" placeholder="Heure de retour"> -->
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <form>
        <div class="form-group">
          <label for="placesdispo">Nombre de places disponibles</label>
          <input type="number" class="form-control" id="placesdispo" placeholder="Nombre de places disponibles">
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <form>
          <div class="checkbox">
               form.check_box :cangodrive
      </form>
    </div>
  </div>

</div>
</div>
