#banner_contact{
  margin-top:5%;
  width:100%;
}
#info_hachemi{
 margin-bottom: 5%;
}
#info_perso{
margin-top: 5%;
 text-align: center;
}

#info3, #info2{
  margin-top: 10%;
}


button{
  // margin-bottom: 4%;
}

.info_perso2{
  padding-top: 8%;
}

#info_simplon{
  border-radius: 6px;
  margin-top: 30%;
  font-size: 1.4em;
  color: white;
  /*background-color:rgb(0, 165, 142);*/
  background-color: #46B29D;
}

.fa {
  float: left;
  display: inline-block;
}



#hour{
margin-top:15%;
margin-left: 10%;
font-size:1.3em;
}

#formul{
  margin-top: 120%;
  margin-bottom: 10%;
}


button{
  margin-bottom:5%;
}


@media screen and (max-width: 768px) {
  #my_map{
    display: none;
  }

  #banner_contact{
  display: none;
  }

#info_perso{
  text-align: center;
   margin-top: 15%;
  padding-left:20%;
}


#info_hachemi{
text-align: center;
}
}


@media screen and (max-width: 600px) {

#info_perso{
  margin-top: 20%;
}
#my_map{
  margin-top: 10%;
}

#formul{
  display: none;
}
#banner_contact{
display: none;
}
}

@media screen and (max-width: 320px) {
  #info_perso{
    margin-top: 40%;
  }
}




@media screen and (max-width: 990px) {
    hr{
        display: none;
    }
    footer ul{
        display: none;
      }

    footer h2{
        width: 80px;
    }
    .paddingbot {
        border-left: 0px;
    }
    div#sitemap {
        display: inline-flex;
    }
}
