// Place all the styles related to the Transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// "NEW" CUSTOM CSS
.paimentpage{
  min-height: 70vh;
  padding-top: 5vh;
}
.submit-paiment{
  margin-top: 4vh
}

#dropin{
  margin-top: 2vh
}
