// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profilavatar {
  width:60%;
  height: auto;
  margin-left: 20%;
}
.nextbidsblock{
  margin-top: 5%
}
.signinbloc .fa, .editusercarbloc .fa {
  float: none;
}
